# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo
.Python
*.egg-info/
*.egg
dist/
build/

# Environments
venv/
env/
.venv/
.env
.env.local

# Database
*.db
*.sqlite
.alembic/

# Certificates
*.pfx
*.pem
crt/

# IDE
.idea/
.vscode/
*.swp
*.swo